<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard - Sezon <%= sezonNumarasi %></title>
</head>
<body>
  <h1>Leaderboard - Sezon <%= sezonNumarasi %></h1>
  <pre><%= leaderboardVerisi %></pre> 
</body>
</html>